body {
    background-color:#E7EBEE;
}

.centerBody {
    margin: 0 auto;max-width: 1200px; padding: 5px 0px;
}

th {border-bottom: 1px solid orange;}
td {border-bottom: 1px solid darkolivegreen; border-spacing: 10px 60px; }
tr {border-bottom: 1px solid grey;}
table { border-collapse: separate; border-spacing: 10px 20px;
    border: 2px solid darkslategray; border-radius: 15px; background: skyblue;
    margin: 30px;
}

.edit {
    top:5px;
    opacity: 0.8;
    padding:  5px 20px;
    background: #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    top:5px;
    opacity: 0.8;
    padding:  5px 20px;
    background: red;
    border-radius: 5px;
    cursor: pointer;
}

.editcell {
    border-bottom: 0px;
}

input {
    margin:5px;
    padding: 5px;
}

form {
    border: 2px solid darkslategray;
    border-radius: 15px;
    margin:30px;
    padding: 10px;
    background: skyblue;
    max-width:680px;
}